[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
	ignore = dirty
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/redis/hiredis.git
	ignore = dirty
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	ignore = dirty
[submodule "deps/libphpext"]
	path = deps/libphpext
	url = https://github.com/terrywh/libphpext.git
	ignore = dirty
[submodule "deps/nghttp2"]
	path = deps/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
	ignore = dirty
[submodule "deps/multipart-parser-c"]
	path = deps/multipart-parser-c
	url = https://github.com/terrywh/multipart-parser-c.git
	ignore = dirty
[submodule "deps/kv-parser"]
	path = deps/kv-parser
	url = https://github.com/terrywh/kv-parser.git
	ignore = dirty
[submodule "deps/fastcgi-parser"]
	path = deps/fastcgi-parser
	url = https://github.com/terrywh/fastcgi-parser.git
	ignore = dirty
[submodule "deps/mongo-c-driver"]
	path = deps/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
	ignore = dirty
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "deps/c-ares"]
	path = deps/c-ares
	url = https://github.com/c-ares/c-ares.git
	ignore = dirty
[submodule "deps/librdkafka"]
	path = deps/librdkafka
	url = https://github.com/edenhill/librdkafka.git
	ignore = dirty
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/nodejs/http-parser
	ignore = dirty
[submodule "deps/rabbitmq-c"]
	path = deps/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c
